<html>
<head/>
<body>
    <h1>Welcome To FlightInterpWeb</h1>
    <br/>
    <ul>
        <li><a href="/display/127.0.0.1/5403">display current plane position with default ip (local) and port (5403)</a></li>
        <li><a href="/display/127.0.0.1/5403/4">display current plane position with default ip (local) and port (5403) each 4 seconds</a></li>
        <li><a href="/display/127.0.0.1/5403/4/10/flight1">save current plane flight data with default ip (local) and port (5403) for 10 seconds (getting data 4 times per second)</a></li>
        <li><a href="/display/flight1/4">display flight data saved (4 times per second until done)</a></li>
    </ul>
</body>
</html>
